<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Twittercroft, reading (last ten) tweets by Verisk Maplecroft since 4. 10. 2016</title>
  <meta name="description" content="Twittercroft exercise">
  <meta name="author" content="Mikulas Mrva">

  <link rel="stylesheet" href="style.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
{% block content %}
{% endblock %}
{% block scripts %}
    <script src="scripts.js"></script>
{% endblock %}
</body>
</html>
