{% extends 'tweetmap/base.html' %}

{% block content %}
    {% if tweepy_error %}
    Please check that you are connected to the internet and you have entered your Twitter App credentials correctly.
    {% else %}
    <div id="page-header">

    </div>
    <div id="feed-container">
        <ol id="twitter-feed">
        {% for tweet in tweets %}
            <li>{% include 'tweetmap/includes/tweet.html' with tweet=tweet %}</li>
        {% endfor %}
        </ol>
    </div>
    <div id="map-container">
        <div id="map-div">
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
{% if tweets_json %}
var rows = {{ tweets_json|safe }};
{% else %}
    var rows = [];
{% endif %}
</script>
{% endblock %}